Source: tomamp
Section: user/multimedia
Priority: extra
Maintainer: Tamas Marki <tmarki@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.5.0)
Standards-Version: 3.8.0
Homepage: http://talk.maemo.org/showthread.php?t=60089
XSBC-Bugtracker: mailto:tmarki@gmail.com

Package: tomamp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple playlist-based music player
 TomAmp is a simple, easy to use, playlist-based audio player
 for Maemo.
 .
XB-Maemo-Display-Name: TomAmp Music Player
